.brain-character {
    /* width: 80%; */
    object-fit: contain;
}

.character-container {
    margin: 3%;
}

/***** Hint Globe *****/

.hint-globe {
    background-image: url(../assets/hint-globe.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hint-globe img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    filter: blur(3px);
}

.globe-hint-container {
    position: relative;
    height: 150px;
    overflow: hidden;
}

.globe-hint-background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.globe-hint-text {
    position: absolute;
    top: 40%;
    left: 50%;
    /* Center the text */
    transform: translate(-50%, -50%);
    color: black;
    font-size: clamp(1.2rem, 2vw, 1.6rem); /* Texto legible en cualquier pantalla */
    text-align: center;
    font-weight: bold;
    /* Makes the text layer fit within the container width */
    width: 90%;
    /* Text layer above the background */
    z-index: 2;
    /* Allows text to wrap within the width */
    white-space: normal;
    /* Ensures text breaks correctly */
    overflow-wrap: break-word;
}

.globe-hint-img {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80px;
    height: 80px;
    z-index: 2;
}
