.list-wrapper {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* O row si quieres alinearlos horizontalmente */
}

.list-container {
    display: flex;
    flex-direction: column; /*row*/
    justify-content: flex-start; /*center*/
    align-items: center;
    margin-top: 15px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    height: calc(100dvh - 325px); /** 325px = Navbar + Main Game Layout Header + List Header**/
}

.list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px; /* fixed height */
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    background: none;
}

.list-body {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    overflow: auto;
}

.list-body table {
    width: 90%;
    margin: auto;
}

.list-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    transition: transform 0.25s, letter-spacing 0.25s;
    /* height: 35px; */
    flex: 1;
    border-top: 2px solid var(--border-color);
    width: 100%;
    background: none;
    color: var(--text-color);
}

.list-external-footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s, letter-spacing 0.25s;
    height: 35px;
}

.list-external-footer button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background: none;
    border: none;
    box-shadow: none;
    color: var(--link-color);
    padding: 0;
}

.list-external-footer button:hover{
    box-shadow: none !important;
}