/** Game Mode Container **/
.game-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .containerPhrase {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    padding: 15px;
    border: 3px double var(--link-color) !important;
    width: 350px;
    height: 80px;
    margin: 10px;
}

.containerPhrase p{
  font-size: clamp(1rem, 5vw, 1.5rem); /* Texto legible en cualquier pantalla */
    text-align: center;
    color: var(--link-color) !important;
    font-weight: bold;
}

.buttonRow {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 5px;
}

.respuesta-correcta {
  background-color: green;
  color: white;
}

.respuesta-incorrecta {
  background-color: red;
  color: white;
}

.respuesta-correcta button {
  background-color: green;
  color: white;
}

.respuesta-incorrecta button {
  background-color: red;
  color: white;
}

@media (max-width: 535px) {
  .buttonRow {
      flex-direction: column-reverse;
  }
  .containerPhrase {
    padding: 15px;
    width: 85%;
    height: 80px;
    margin: 5px;
  }
}