.gp-container {
	padding: 20px;
	gap: 40px;
}

.input {
	text-align: center;
	background-color: #FFF;
	border: 3px solid #653532;
	border-radius: 8px;
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}