/****** Main Game Layout ******/

.main-game-layout-cointainer {
    display: flex;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    margin: 1rem calc(min(1rem, 1rem + 0.02 * 100vw));
    /* 1rem vertical, dinámico horizontal */
    height: calc(100vh - 0.17 * 100vw);
    /* Aumenta la altura cuando el ancho disminuye */
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.main-game-layout-cointainer h1 {
    margin-top: 0;
}

.main-game-layout-cointainer h2 {
    /* font-size: 5em; */
    /* line-height: 1.1; */
    margin-top: 0;
}

.main-game-layout-cointainer p {
    font-size: 1.25em;
    line-height: 1.1;
}

.game-layout-subtitle {
    margin-top: 0;
}

/***** Sub Containers (Game Layout) *****/

.left-div,
.middle-div,
.right-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    /* Allows each div to grow equally */
    /* flex-grow: 1; */
    /* flex-basis: 0; /*Ensures all divs start at the same width, ignoring content */

}

.middle-div {
    flex-grow: 2;
    /* Grow more than other flex siblings */
    flex-shrink: 1;
    /* Allow shrinking if necessary */
    flex-basis: 0;
    /* Start from 0 width, and grow from there */
}

.left-div {
    border-right: 2px solid var(--border-color);
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    /* For back button */
}

.right-div {
    border-left: 2px solid var(--border-color);
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.back-btn {
    position: absolute;
    top: 0px;
    left: 25px;
    padding: 10px;
}

.fullscreen-btn {
    position: absolute;
    top: 0px;
    right: 25px;
    padding: 10px;
    font-size: 25px;
    width: 60px;
}

.main-game-layout-container:fullscreen,
.main-game-layout-cointainer:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/GDS-Words-Footer.png');
    background-size: contain; /* Make the image cover the entire div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center bottom; /* Position the image at the bottom center */
}

/** Max Resolution 24 **/
@media (min-width: 1700px) {
    .main-game-layout-cointainer {
        margin: 6rem 15rem;
    }
}

/** Medium Resoloution 15 **/
@media (min-width: 1250px) and (max-height: 650px) {
    .main-game-layout-cointainer {
        height: 86vh;
        margin: 1rem;
    }
}

/** Design Breakpoint**/
@media (max-width: 1150px) and (min-height: 550px) {
    .main-game-layout-cointainer {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100vw - 2rem);
        height: calc(100vh - 2rem);
        margin: 1rem;
        padding: 0;
    }

    .left-div,
    .middle-div,
    .right-div {
        border: none;
    }
}

/** Mobile **/
@media (max-width: 450px) {
    .main-game-layout-cointainer {
        height: 100dvh;
        width: 100vw;
        border-radius: 0;
        margin: 0;
        border: none;
    }
}