.mc-container {
    gap: 10px;
}

.optionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
    justify-items: center;
    align-items: center;
    padding-left: 8px;
}

.optionButton {
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    text-align: center;
    width: 280px;
}

.optionText {
    color: var(--border-color);
    font-size: clamp(1.15rem, 2vw, 1.2rem); /* Texto legible en cualquier pantalla */
}

.selectedOption {
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--border-color);
}

.selectedOptionText {
    color: white;
    font-weight: bold;
}

.correctOption {
    background-color: green;
}

.correctOptionText {
    color: #fff;
}

.incorrectOption {
    background-color: red;
}

.incorrectOptionText {
    color: #fff;
}

.answerText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/** Design Breakpoint**/
@media (max-width: 670px) {
    .optionsContainer {
        flex-direction: column;
        width: 100%;
    }

}