.ow-container {
    gap:10px;
    position: relative;
    width: 350px;
  }
  
  .selectedOrderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border: 3px double var(--link-color);
    width: 100%;
    min-height: 60px;
    border-radius: 8px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 400px;
  }
  
  .button {
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    width: 50px;
    color: var(--border-color);
    font-weight: bold;
  }
  
  .selectedButton {
    color: var(--link-color);
    background-color: transparent;
    padding: 2px;
    margin: 2px;
    width: fit-content;
    font-size: 25px;
    border: none;
  }

  @media (max-width: 400px) {
    .selectedOrderContainer {
      margin-top: 20px;
      width: 85%;
      min-height: 60px;
    }
    
    .buttonContainer {
      margin-top: 20px;
      width:85%;
    }
  }